**/*.asm
**/*.elf
**/*.cdb
**/*.lk
**/*.map
**/*.adb
**/*.lst
**/*.rel
**/*.rst
**/*.sym

Debug

**/Result.log

**/*.launch
/tools/Java_Configurator_Source/build/
/tools/Java_Configurator_Source/dist/
/tools/Java_Configurator_Source/nbproject/private/
